@import url('http://fonts.cdnfonts.com/css/graphik');
*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    /* height: 100vh; */
    font-family: 'Graphik', sans-serif;
    scroll-behavior: smooth;
}

.index{
    background-color: #f6f6f6;
}

.navbar{
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 47px; 
    background-color: #b8efd3;
    padding-top: 22px;
}

.navbar .navbar-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 55px 0 55px;
    align-items: center;
}

.navbar-container .navbar-brand{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: rgb(44, 43, 43);
}

.nav-links .nav-list{
    display: flex;
}

.nav-list .nav-item{
    margin: 0 20px;
    list-style: none;
    text-decoration: none;
}

.nav-list a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: rgb(44, 43, 43);
    font-weight: 300;
    transition: .3s;
}

/* .nav-list a::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 4%;
    width: 0;
    height: 2px;
    background-color: rgb(44, 43, 43);
    transition: 0.5s ease-in-out;
}

.nav-list a:hover::after{
    width: 92%;
} */

.nav-list a:hover{
    font-weight: bold;
}

.nav-list a .active{
    font-weight: 700;
}

.main-container{
    position: relative;
    /* display: flex; */
    margin: 60px 100px 0 100px;
}

.text-content h1{
    position: absolute;
    top: 15%;
    width: 30%;
    font-size: 40px;
    font-weight: 600;
    color: rgb(44, 43, 43);
    /* line-height: 50px; */
}

.text-content span{
    font-weight: 400;
    color: rgb(44, 43, 43);
}

.text-content p{
    position: absolute;
    top: 36%;
    width: 35%;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.buttons{
    position: absolute;
    top: 58%;
}

.buttons .btn1, .btn2{
    padding: 12px 17px;
    font-size: 11px;
    cursor: pointer;
}

.buttons .btn1{
    margin-right: 10px;
    background-color: #6AC599;
    border: none;
    color: rgb(255, 255, 255);
}

.buttons .btn1:hover{
    background-color: rgb(255, 255, 255);
    color: #6AC599;
    border: 1px solid #6AC599;
}

.buttons .btn2{
    background-color: rgb(255, 255, 255);
    border: 1px solid #6AC599;
    color: #6AC599;
}

.buttons .btn2:hover{
    background-color: #6AC599;
    color: rgb(255, 255, 255);
}

.img img{
    position: relative;
    left: 14%;
    width: 60%;
    filter:drop-shadow(0 0 20px rgb(169, 167, 167));
}

.funA{
    width: 10%;
    background-color: rgb(105, 104, 104);
    position: absolute;
    margin-top: 6%;
    left: 64%;
    font-size: 12px;
    padding: 7px 15px 7px 25px;
    line-height: 15px;
    border-radius: 25px;
    border: 1px solid #6AC599;
    color: rgb(192, 189, 189);
    transition: width 1s;
    box-shadow: 0 0 10px #6AC599;
}

.funA:hover{
    width: 13%;
}

.funA span{
    font-weight: 700;
    color: rgb(192, 189, 189);
}

.funB{
    width: 18%;
    background-color: #6AC599;
    position: absolute;
    margin-top: 11%;
    left: 61%;
    font-size: 13px;
    padding: 12px 15px 9px 25px;
    line-height: 17px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    transition: width 1s;
    box-shadow: 0 0 10px rgb(169, 167, 167);
}

.funB:hover{
    width: 22%;
}

.funC{
    width: 31%;
    background-color: #6AC599;
    position: absolute;
    margin-top: 32%;
    left: 67%;
    font-size: 13px;
    padding: 12px 15px 9px 25px;
    line-height: 17px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    transition: width 1s;
    box-shadow: 0 0 10px rgb(169, 167, 167);
}

.testimonial-box{
    position: absolute;
    left: 60%;
    width: 20%;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin: 18% 0 0 10%;
    padding: 10px 20px 125px 20px;
    border-radius: 5px;
    box-shadow: 0 0 7px 1.5px hsl(0, 1%, 82%);
}

.testimonial-box .box-content .fa-quote-left{
    margin-bottom: 10px;
}

.testimonial-box .box-content p{
    font-size: 12.2px;
    line-height: 20px;
    width: 85%;
    margin-bottom: 10px;
    color: hsl(243, 87%, 12%);
}

.testimonial-box .box-content .info-contents{
    position: absolute;
    top: 70%;
    display: flex;
    align-items: center;
}

.info .name{
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 0.5px;
    padding-left: 7px;
}

.info .profession{
    font-size: 9px;
    padding-left: 7px;
}

.info-contents .testimonial-image{
   width: 38px;
   height: 35px;
}

.testimonial-image img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-boxB{
    position: absolute;
    left: 11%;
    width: 20%;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin: 31% 0 0 10%;
    padding: 10px 20px 125px 20px;
    border-radius: 5px;
    box-shadow: 0 0 7px 1.5px hsl(0, 1%, 82%);
}

.testimonial-boxB .box-content .fa-quote-left{
    margin-bottom: 10px;
}

.testimonial-boxB .box-content p{
    font-size: 12.2px;
    line-height: 20px;
    width: 85%;
    margin-bottom: 10px;
    color: hsl(243, 87%, 12%);
}

.testimonial-boxB .box-content .info-contents{
    position: absolute;
    top: 70%;
    display: flex;
    align-items: center;
}

.info .name{
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 0.5px;
    padding-left: 7px;
}

.info .profession{
    font-size: 9px;
    padding-left: 7px;
}

.info-contents .testimonial-image{
   width: 38px;
   height: 35px;
}

.testimonial-image img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 50%;
}

/* SECOND CONTENT */
#second-section{
    background-color: #f3fff9;
    padding: 140px 100px 0 100px;
}

.second-details{
    text-align: center; 
    padding: 0 130px 40px 130px;
}

.second-details h3{
    font-size: 17px;
    font-weight: 500;
    color: #53b485;
    margin: 3% 0 2% 0;
}

.second-details span{
    font-size: 30px;
    font-weight: 500;
    width: 10%;
    margin: 0 auto;
    line-height: 43px;
    color: rgb(44, 43, 43);
}


.second-details p{
    padding: 2% 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: rgb(105, 103, 103);
}

#buttons .btn3, .btn4{
    padding: 16px 20px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10%;
}

#buttons .btn3{
    margin-right: 10px;
    background-color: #6AC599;
    font-size: 12px;
    font-weight: 300;
    border: none;
    color: rgb(255, 255, 255);
}

#buttons .btn3:hover{
    background-color: #317f59;
}

#buttons .btn4{
    background-color: rgb(255, 255, 255);
    border: 1px solid #6AC599;
    color: #6AC599;
    font-size: 12px;
    font-weight: 300;
}

#buttons .btn4:hover{
    background-color: #317f59;
    color: rgb(255, 255, 255);
}

footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 0 4% 0;
}

footer .socials{
    padding: 6% 0 0 0;
}

.socials a{
    filter: brightness(0);
    font-size: 30px;
    padding: 0 10px;
}

footer .info ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info ul li{
    list-style: none;
    padding: 35px 20px 30px 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(44, 43, 43);
}

.info ul a{
    text-decoration: none;
}

.copyright{
    font-size: 14px;
    color: rgb(44, 43, 43);
}

/* PAGE 4 */
#resource-page{
    margin: 0 auto;
    padding: 2.5rem 0;
    text-align: center;
    background-color: #b8efd3;
}

video{
    width: 800px;
    height: 500px;
}

.captionA{
   margin: 20px 0 0 -18.4rem;
   font-size: 16px;
}

.captionB{
    margin: 20px 0 0 1.8rem;
    font-size: 16px;
 }

 span{
    font-weight: 500;
 }

 /* PAGE 5 */
 #about-body{
    text-align: center;
    margin: 0 auto;
    position: relative;
 }

 #about-header{
    padding: 7rem 0;
    background-color:#b8efd3;
 }

 #about-header h1{
    font-size: 2.5rem;
    padding-bottom: 15px;
    color: #0c3d25;
 }

 #about-header p{
    font-weight: 400;
 }

 #about-main .story{
    padding: 7rem 14rem 0 14rem;
    text-align: center;
 }

 .story p{
    line-height: 1.6rem;
 }

 .story button{
    padding: 1rem 2rem;
    margin: 1.5rem 0 3rem 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #b8efd3;
    color: #0c3d25;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }

 .story button:hover{
    background-color: #0c3d25;
    color: #fff;
 }

 .modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    animation-name: modalcontainer;
    animation-duration: .4s;
 }

 @keyframes modalcontainer {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        top: 2%;
        opacity: 1;
    }
 }

 .modal{
    position: absolute;
    background-color: #317f59;
    width: 30%;
    padding: 4.5rem 3.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 1.5rem;
    color: #fff;
    border-radius: 6px;
 }

 .close-btn{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 50px;
    cursor: pointer;
    padding: .2rem;
 }
